/*Variables*/
:root {
    --body-bg-color:#252526;
    --main-bg-color:#1e1e1e;
    --header-bg-color: #3c3c3c;
    --heading-font-color: #ffffff;
    --text-font-color: #eeeeee;
    --fresh-link-color: #7cdcfe;
    --clicked-link-color: #7c0bfe;
}

/*General stuff*/
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
    padding: 0%;
    color: var(--text-font-color);
}

html {
    min-height: 100vh;
}

/*Semantics/Groupings*/
body {
    background-color: var(--body-bg-color);
    height:100%;
    min-height: 100vh;
    padding: 0% 20% 0% 20%;
    display:flex;
    flex-direction: column;
}

header{
    background-color: var(--header-bg-color);
    padding: 1em;
}

main{
    background-color: var(--main-bg-color);
    min-height: 100%;
    flex:auto;
}

section{
    padding:1em;
}

/*ID specific elements*/
#contact{
    display:flex;
    flex-direction: row;
    width:100%;
    padding:0;
}
#contact-info{
    width:50%;
    padding: 1em;
}
#contact-info ul{
    margin-left:2em;
}


/*Elements*/
img {
    width:50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-font-color);
}

p {
    margin-top:1rem;
    color: var(--text-font-color);
}

li {
    margin-top:1rem;
}

a {
    color: var(--fresh-link-color);
}

a:active {
    color:var(--clicked-link-color);
}

@media screen and (max-width:1200px){
    body {
        padding: 0% 12% 0% 12%;
    }
}

@media screen and (max-width:768px){
    body {
        padding: 0% 0% 0% 0%;
    }
}

@media screen and (max-width:576px){
    body {
        padding: 0%;
    }
}