/*General stuff*/
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
    padding: 0%;
}

:root {
    --body-bg-color:#252526;
    --main-bg-color:#1e1e1e;
    --header-bg-color: #3c3c3c;
    --heading-font-color: #ffffff;
    --text-font-color: #eeeeee;
}

html {
    min-height: 100vh;
}

/*Semantics/Groupings*/
body {
    background-color: var(--body-bg-color);
    height:100%;
    min-height: 100vh;
    padding: 0% 20% 0% 20%;
}

header{
    background-color: var(--header-bg-color);
    padding: 1em;
}

main{
    background-color: var(--main-bg-color);
    min-height: 100vh;
}

/*Elements*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-font-color);
}

p {
    color: var(--text-font-color);
}

@media screen and (max-width:768px){
    body {
        padding: 0%;
    }
}